.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  justify-content: center;
  align-items: center;
  
}

.containerLoginRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  min-height: 100vh;
  flex: 1;
  margin-bottom: 60px;
  width: 100%;
}

.containerForm {
  width: 100%;
}



@media (min-width: 700px) {
  .containerLoginRegister {
    flex-direction: row;
    margin-top: 50px;

    img {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
        width: 50%;
       
      }
  }
  

  .containerUser {
    flex-direction: row;
  }

  .containerForm {
    width: 40%;
    margin-right: 5rem;
  }

  .containerList {
    width: 60%;
  }
}





 
