:root {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --white: #ffff;
  --black: #4c6fbf;
  --gray: #eeeeee;
  --red: rgba(214, 69, 69, 0.856);
}

body {
  background-color: var(--white);
}

img {
  background-size: cover;
}

.defaultTemplate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.register-form {
  width: 100%;
  max-width: 400px;
}

.ul {
  padding-top: 2rem;
  padding-left: 0;
}

.li {
  background-color: rgba(172, 166, 166, 0.274);
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
}

@media (min-width: 700px) {
  .ul {
    max-height: 20rem;
    overflow-y: auto;
    margin-top: 0.5rem;
  }
}
